body{
    background-color: grey;
}


#main_container{
    margin: auto;
    width: 75%;
    overflow: hidden;
    background-color: bisque;
}

#form_heading_centered{
    margin: auto;
    width: 10%;
}

#amount_label{
    padding-bottom: 1em;
}

#bills{
    float: right;
    padding: 0 3em 3em 3em;
}

#coins{
    padding: 0 3em 3em 3em;
}

#coin_packs{
    padding: 0 3em 3em 3em;
    float: right;
}

#totals{
    padding: 0em 3em 3em 3em;
    margin: 10px;
}

#total{
    width: 11.5em;
}

#adj_total{
    width: 11.5em;
}

.take_out_input{
    margin-top: 0.5em;
    width: 1.5em;
}

.form_input{
    width: 10em;
    border-radius: 5px;
    box-shadow: grey 5px 5px;
}

.custom_button{
    display: inline;
    margin: 0.5em 0 0.5em 0 0.5;
    padding: 1em;
}

.custom_button:active{
    display: inline;
    margin: 0.5em 0 0.5em 0 0.5;
    padding: 1em;
    top: 2px;
    position: relative;
}